/*
CSS COLOR
https://coolors.co/e88d67-bb999c-9999c3-7b8cde-c0e6de
https://www.htmlcsscolor.com/
*/


/* Global styles
---------------------------------------------------------------------------------------*/

body {
  color: Jet; 
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
img {
  width: 300px;
}

a {
    color: blanchedalmond;
	font-size: 15px;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    line-height: 0.3;
}

h2 {
    font-size: 30px;
}

h1, h2 {
    font-family: 'Apple Chancery', cursive;
    font-weight: 300; 
}


.content-wrap {
    max-width: 800px; /*content width = 800px on both left &right side*/ /*add max*/
	width: 85%;      /* leading rows with edges to only spanning 85%, defaul*/
    margin: 0 auto; /*margin top & bottom = 0, left/right margin equally*/
    padding: 20px 0 40px 0; /*padding top, right, bottom, left*/
}

h3 {
	margin-bottom: 5px;
}

.item-details h3 + p {   /*adjacent sibling combinator*/
	font-style: italic; /*globle style, set <p> following <h3> to font-style italic, and no margin between the lines in class item-details*/
	margin: 0;
	
}

.item-details h3 ~ p { /*general sibling combinator */
	margin: 0;         /*globle style, set 0 margin from <h3> to <p> in class item-details */
}

.divider > section {  /*child combinator, only match to direct child element, class divider is parent, > section is child*/
  border-bottom: 1px dotted rgb(187, 187, 187); /* moved from project section, make it re-useable*/
 
}
.divider > section:last-of-type {
  border-bottom: none; /*no border-bottom line at the last one type*/
}

/* Introduction
----------------------------------------------------------------------------------------*/
header {
  background: indigo;
  color: mintcream;
  /*text-align: center;*/
}

/*
h1, h2 {
	text-align: center;
}
*/

/* PROJECTS/ACTIVITIES 
----------------------------------------------------------------------------------------*/
.projects {
  background: ivory;
}

.projects a {
    color:Mustard;
    background:black;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn {
  color: Mustard;
  background: black;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
	background: rgba(128,128,128,80%); /*become color grey when hover the button*/
}

.project-item{
	overflow: hidden; /*overflow : hidden is a property which will make any text going out of your div as hidden */
	/*border-bottom: 1px dotted rgb(187, 187, 187);/*shorthand, border-bottom, width, style, color using rgb value  ---move diver line to globle style to be reusable in both project & experienc section*/
	
}

.project-item h3 {
    margin-top: 0;
    padding-top: 20px; /*h3 has the same height with img padding above*/
}

/* Work Experience
------------------------------------------------------------------------------------------*/
.work-experience {
  background: mintcream;
}

.job-item h3 {
	width:300px;
}

/* EDUCATION
-----------------------------------------------------------------------------------------*/
.education{
  background: lightgray;
}

.education {
  background-image: url(../images/education-background.jpg);
  background-size: cover;
  background-position: bottom right; /*always display bottom-right position of image*/
  padding-bottom: 30px;
}

.education p {
  width: 60%;  /*paragragh only take width 60% */
}


/* CONTACT
----------------------------------------------------------------------------------------*/
footer {
  background: lightslategrey;
  color: mintcream;
  /*text-align:center;*/
}

.contact-item-list{
	list-style-type: none; /*remove the bullet <li>*/
	padding: 0;
	/*
	display: flex;
	justify-content: center;
	*/
}

.contact-item-list a {
	padding:20px;
	display:inline-block;
	
}

/* Responsive
----------------------------------------------------------------------------------------*/


@media screen and (min-width:750px){ 
/* in project section, set breakpoint 750px in responsive part to make image and content into two columns when px is >= 750px, otherwise show it in one column */
 
 header, footer { 
 /*represent content to center when >=750px, otherwise keep header & footer to leftside*/
    text-align: center;
}

.project-item img{  
	float: left;
    margin-right: 30px; /*img's margin right value*/
    padding: 20px 0;
}	

.job-item { /*job item use grid*/
  display: grid;
  grid-template-columns: 1fr 2fr; /*job-details is 1 columns, job-summary is 2 columns*/
  column-gap: 25px; /*gutter*/
}

.contact-item-list{
/*display flex if larger 750px, otherwise list content*/
	display: flex;
	justify-content: center;
	
}

}

@media screen and (max-width:749px){ 

h1 {
    font-size: 70px; 
	margin-top: 20px;
	margin-bottom: 20px;
}
h1, h2 {
	line-height: 1;
}

 .contact-list a {
    padding: 5px;
  }

}

